h1{
    color:#A51C30;
    font-size:80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
hr{
    background-color: #A51C30;
    height: 10px;
    width: auto;
}
body{
    margin:0;
    font-family: Arial,sans-serif;
}
.menu-nav ul{
    list-style: none;
    padding: 70px 0 0 0;
    margin:0;
}
.menu-nav li a{
    display: block;
    padding: 15px 20px;
    text-align: none;
    color: white;
    border-bottom: 1px solid #555;
}
.menu-nav.active{
    transform: translateX(0);

}
.icon{
    display: block;
    position: fixed;
    top: 220px;
    right: 15px;
    z-index: 1000;
    background: none;
    border:none;
    font-size: 30px;
    cursor:pointer;
}
.menu-nav{
    position:fixed;
    top: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    z-index:999;
    transform:translateX(100%);
    transition:transform 0.3s ease-in-out
}
